
<div class="heading">
  <h1><%= image_tag 'feedmelogo.png', class: "logo" %></h1>
</div>
<h2 class="grey-text">Free Events with Food In Your Area!</h2>


<div class="form-section">
  <div id='info' class='info'>
    <h1 class="loadingarea">
      <span class="loader loader-double"></span>
      Loading...
    </h1>
    <div id='map-z' class='map'>
      <div class="blocker"></div>
    </div>
  </div>
  <div class="centerme">
    <h2>Add Your Own Free Public Event With Food!</h2>
  </div>
  <div class="centerme cbp-mc-form">
    <div class="">
      <%= form_for @event do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>


      <%= f.label :date %>
      <%= f.date_field :date, class: "form-control" %>


      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>
      <br>
      <!-- All Day?<%#= f.check_box :allday, class: "form-control" %> -->

      <%= f.label :start_time %>
      <%= f.time_field :start_time, class: "form-control" %>


      <%= f.label :end_time %>
      <%= f.time_field :end_time, class: "form-control" %>
      <div class="cbp-mc-submit-wrap">
        <%= f.submit class:"cbp-mc-submit" %>
      </div>

      <% end %>
    </div>
  </div>
</div>





<script>

//http://api.tiles.mapbox.com/v4/geocode/mapbox.places/582+Washington+St.,+San+Francisco,+CA.json?access_token=pk.eyJ1IjoienViYWlyZCIsImEiOiJPTFlHOU1vIn0.4kyLiky-nji-ChJ70D3N7A
$("div#map-z").hide()

navigator.geolocation.getCurrentPosition(showPosition)

var promise2

function showPosition(position){
  console.log(position.coords.latitude);
  console.log(position.coords.longitude);

  userLng = position.coords.longitude
  userLat = position.coords.latitude

  $.ajax({
    url: '/free_foods.json',
  }).done(function(data){
    geojson = [
      {
        "type": "FeatureCollection",
        "features": [
          {
            "type": "Feature",
            "properties": {
              "title": "You Are Here!",
              "marker-color": "#FF0000",
              "marker-size": "medium",
              "marker-symbol": "pitch",
            },
            "geometry": {
              "type": "Point",
              "coordinates": [position.coords.longitude, position.coords.latitude]
            }
          }
        ]
      }
    ];
    $("h1.loadingarea").hide()
    $("div#map-z").show()
    assignMarkers(data)
  })
}


function assignMarkers(markers){
  for (var i = 0; i < markers.length; i++) {
    event_time = moment(markers[i].start_time)
    time_from_now = moment(event_time).endOf('day').fromNow()
    time_difference = (event_time - Date.today())/86400000
    function urgency(){
      console.log(time_difference)
      if(time_difference < 1){
        return "#551a8b"
      }else{
        return "#00CC00"
      }
    }

    geojson[0].features.push({
      "type": "Feature",
      "properties": {
        "title": "<img class='eventpic' src='"+ markers[i].image_url +"'>" + markers[i].title + " | Date: " + markers[i].date + " | Time: " + markers[i].time,
        "image": markers[i].image_url,
        "marker-color": urgency(),
        "marker-size": "medium",
        "marker-symbol": "restaurant"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [markers[i].lng, markers[i].lat]
      }
    })
  }
  navigator.geolocation.getCurrentPosition(makeMap)
}



function makeMap(position){
  userLng = position.coords.longitude
  userLat = position.coords.latitude

  L.mapbox.accessToken = 'pk.eyJ1IjoienViYWlyZCIsImEiOiJPTFlHOU1vIn0.4kyLiky-nji-ChJ70D3N7A';

  map = L.mapbox.map('map-z', 'zubaird.lkfilmea', {
    scrollWheelZoom: false
  }).setView([userLat,userLng], 14);

  myLayer = L.mapbox.featureLayer().addTo(map)
  myLayer.on('ready', function(){
  })
  myLayer.setGeoJSON(geojson)
}

</script>
